.App {
  /* text-align: center; */
}

.title-location {
  cursor: pointer;
  /* justify-content: ; */
  font-weight: bold;
  text-align: right;
  margin-left: 5%;
}

.main-bg {
  /* height: 350px; */
  height: 200px;
  background-size: contain;
  background-position: right;
  margin-bottom: 5%;
  background-repeat: no-repeat;
}

.main-writing {
  margin: 10%;
  font-weight: bolder;
}

.main-writing-1 {
  font-size: 150%;
  padding-left: 1%;
}

.main-writing-2 {
  font-size: 450%;
}