.App {
  /* text-align: center; */
}

.title-location {
  cursor: pointer;
  /* justify-content: ; */
  font-weight: bolder;
  text-align: right;
  margin-left: 5%;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.main-bg {
  /* width: 200px;
  height: 200px;
  background-size: cover; */
  margin-top: 13%;
  margin-right: 3%;
}

.main {
  margin: 5%;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: -7%;
  font-weight: bolder;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.main-writing {
  margin-top: -20%;
}

.main-writing-1 {
  font-size: 150%;
  padding-left: 2.5%;
  width: 100%;
}

.main-writing-2 {
  font-size: 450%;
  width: 100%;
}

.main-bg-1 {
  width: 250px;
  height: 250px;
  background-size: cover;
  transform: rotate(-45deg);
}

.main-bg-2 {
  width: 150px;
  height: 150px;
  background-size: cover;
  transform: rotate(35deg);
}

.main-bg-3 {
  width: 300px;
  height: 300px;
  background-size: cover;
  transform: rotate(-20deg);
  margin-left: 25%;
  margin-top: -25%;
}

.searching {
  width: 200%;
}

button .search-button {
  font-size: 10px !important;
  white-space: nowrap !important;
}

.input-box {
  margin-top: 2%;
  margin-left: 1%;
  width: 600px;
  height: 55px;
  border-radius: 24px;
  border: 2px solid #7b7b7b;
  padding-left: 30px;
  padding-right: 80px;
}

.input-area {
  display: flex;
}

.search-btn {
  margin-top: 4.5%;
  margin-left: 2%;
  cursor: pointer;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100%; */

  margin: 5%;
  margin-top: -28%;
  /* margin-right: 25%; */
  margin-left: -28%;
}

.info-btn {
  width: 160px;
  height: 200px; /* 패딩을 사용해 높이 조절 */
  padding-bottom: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #17a2b8; /* Bootstrap의 info 색상 */
  color: #fff;
  /* border: none; */
  cursor: pointer;

  margin: 1%;
}

button.info-btn {
  border-radius: 30px;
  background-color: rgb(117, 209, 255);
}

button.primary-btn {
  border-radius: 30px;
}

button.success-btn {
  background-color: rgb(157, 71, 250);
  border-radius: 30px;
}


.primary-btn {
  width: 160px;
  height: 200px; /* 패딩을 사용해 높이 조절 */
  padding-bottom: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #17a2b8; /* Bootstrap의 info 색상 */
  color: #fff;
  border: none;
  cursor: pointer;

  margin: 1%;
}

.success-btn {
  width: 160px;
  height: 200px; /* 패딩을 사용해 높이 조절 */
  padding-bottom: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #17a2b8; /* Bootstrap의 info 색상 */
  color: #fff;
  border: none;
  cursor: pointer;

  margin: 1%;
}

/* 작은 화면에 대한 반응형 설정 */
@media screen and (max-width: 768px) {
  .btn-container .info-btn .success-btn .primary-btn {
    width: 20%;
    padding-bottom: 20%;
  }
}

/* button .btn-custom {
  font-size: 30px; 
  color: #fff;
} */

.campaign h4{
  font-weight: 800;
  margin-left: 15.5%;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.campaign a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.item-page-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5%;
}

.item-page-inst {
  display: flex;
  justify-content: center;
  align-items: center;
}

.TestPet-img {
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.trash-bin img{
  width: 140px;
  height: 140px;
  /* border: 2px solid black; */
  margin: 10px; 
}

/* 특정 수거함 타입에 대한 스타일 */

.trash-bin-plastic {
  /* background-color: lightblue; */
}

/* 다른 타입에 대한 스타일은 여기에 추가 */

.game-design {
  margin: 5%;
  background-color: rgb(222, 244, 219);
  
}

.game-design-item {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  position: relative;
  /* width: 100%;
  height: 100%;
  overflow: hidden; */
}
.game-design-bin {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3%;
}
.game-design-timer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3%;
}
.game-design-score {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3%;
}

.highlight {
  color: green; /* 원하는 색상 */
}

.logo-img {
  margin-top: -5%;
}

.trash-item {
  position: absolute;
}

.trash-item:nth-child(odd) {
  left: 0px;
}

.trash-item:nth-child(even) {
  left: 100px;
}