.title-location {
  cursor: url('./pages/imgs/손가락.png') 25 25, auto;
  font-weight: bolder;
  text-align: right;
  margin-left: 5%;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.main-bg {
  margin-top: 13%;
  margin-right: 3%;
}

.main {
  margin: 5%;
  margin-left: 35%;
  margin-right: 15%;
  margin-top: -4%;
  font-weight: bolder;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-writing {
  margin-top: 17%;
}

.main-writing-1 {
  font-size: 160%;
  padding-left: 20%;
  width: 100%;
}

.main-writing-2 {
  font-size: 450%;
  width: 100%;
  padding-left: 12%;
}

.main-bg-1 {
  width: 250px;
  height: 250px;
  background-size: cover;
  transform: rotate(-45deg);
}

.main-bg-2 {
  width: 150px;
  height: 150px;
  background-size: cover;
  transform: rotate(35deg);
}

.main-bg-3 {
  width: 300px;
  height: 300px;
  background-size: cover;
  transform: rotate(-20deg);
  margin-left: 25%;
  margin-top: -25%;
}

.searching {
  width: 200%;
}

button .search-button {
  font-size: 10px !important;
  white-space: nowrap !important;
}

.input-box {
  margin-top: 2%;
  margin-left: 1%;
  width: 600px;
  height: 55px;
  border-radius: 24px;
  border: 2px solid #7b7b7b;
  padding-left: 30px;
  padding-right: 80px;
}

.input-area {
  display: flex;
  margin-left: -12%;
}

.search-btn {
  margin-top: 4%;
  margin-left: 2%;
  cursor: url('./pages/imgs/손가락.png') 25 25, auto;

}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1%;
  margin-top: -45px;
}

.info-btn {
  width: 180px;
  height: 220px;
  padding-bottom: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #17a2b8; /* Bootstrap의 info 색상 */
  color: #fff;
  cursor: url('./pages/imgs/손가락.png') 25 25, auto;
  margin: 1.5%;
}

button.info-btn {
  border-radius: 30px;
  background-color: #89E94E;
}

button.primary-btn {
  border-radius: 30px;
  background-color: #35C365;
}

button.success-btn {
  border-radius: 30px;
  background-color: #369239;
}


.primary-btn {
  width: 180px;
  height: 220px; /* 패딩을 사용해 높이 조절 */
  padding-bottom: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #17a2b8; /* Bootstrap의 info 색상 */
  color: #fff;
  border: none;
  cursor: url('./pages/imgs/손가락.png') 25 25, auto;;

  margin: 1.5%;
}

.success-btn {
  width: 180px;
  height: 220px; /* 패딩을 사용해 높이 조절 */
  padding-bottom: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #17a2b8; /* Bootstrap의 info 색상 */
  color: #fff;
  border: none;
    cursor: url('./pages/imgs/손가락.png') 25 25, auto;;

  margin: 1.5%;
}

/* 작은 화면에 대한 반응형 설정 */
@media screen and (max-width: 768px) {
  .btn-container .info-btn .success-btn .primary-btn {
    width: 20%;
    padding-bottom: 20%;
  }
}

.campaign h4{
  font-weight: 800;
  margin-left: 15.5%;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.campaign a {
  text-decoration: none;
  color: black;
    cursor: url('./pages/imgs/손가락.png') 25 25, auto;;
}

.item-page-container {
  display: flex;
  align-items: flex-start;
  margin-top: 5%;
}

.item-page-info {
  flex: 1; /* 좌우 비율을 1:1로 설정 */
}

.item-page-title {
  margin: 2%;
  font-weight: 700;
  margin-bottom: 5%;
}

.item-page-inst1 {
  margin-left: 5%;
  font-weight: 600;
}
.item-page-inst2 {
  margin-left: 5%;
}
.item-page-img {
  flex: 1;
  margin-left: 20%;
  margin-right: -40%;
  display: flex;
  flex-direction: column;
}
.item-page-img-inst {
  font-weight: bold;
  width: 250px; 
  margin-top: 2%;
  text-align: center;
}

.item-page-img-detail {
  background-color: rgb(224, 224, 224);
  border-radius: 10%;
}

.TestPet-img {
  width: 130px;
  height: 130px;
  cursor: url('./pages/imgs/손가락.png'), 25 25 auto;
}

.trash-bin img{
  width: 193px;
  height: 193px;
  margin: 1px; 
}

.trash-bin {
  padding: 10px;
}

.trash-bin-bg {
  background-color: rgb(235, 235, 235);
}

.game-design-timer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -2%;
}

.timer-sec{
  font-weight: 600;
}

.game-design-score {
  display: flex;
  align-items: center;
  justify-content: center;
}

.score-board-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}
.score-board-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

.highlight {
  color: green; 
}

.logo-img {
  margin-top: -5%;
}

.trash-item {
  transition: transform 0.3s;
}

.trash-item:hover {
  transform: scale(1.06);  
}

.game-design-item {
  display: flex;
  align-items: center;
  justify-content: center; /* 가운데 정렬 */
  flex-direction: row;
  flex-wrap: wrap;
  padding: 2%;
}

.trash-item-display {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16%;
  margin-left: -3%;
  margin-right: -3%;
  margin-buttom: -10%;
}

.game-design-bin {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -10%;
  margin-right: -10%;
  flex-direction: row;
  flex-wrap: wrap;
}

.game-main {
  margin: 5%;
  font-weight: bolder;
}

.game-main-writing-1 {
  font-size: 160%;
  padding-left: 26%;
}

.game-main-writing-2 {
  font-size: 450%;
  padding-left: 25%;
}

.game-main-bg {
  margin-top: 13%;
  margin-right: 3%; 
  margin-left: 16%;
}

.game-main-bg-1 {
  width: 340px;
  height: 340px;
  background-size: cover;
  margin-left: 4%;
  margin-top: -12%;
}

.game-main-bg-2 {
  width: 360px;
  height: 360px;
  background-size: cover;
  margin-left: 50%;
  margin-top: -20%;
}

.game-btn {
  margin-right: 19%;
  margin-top: -17%;
  display: flex;         /* Flexbox 사용 */
  flex-direction: column; /* 수직 방향 배열 */
  align-items: center;    /* 가운데 정렬 */
  gap: 25px;
}

Button.game-btn-1 {
  width: 160px;
  height: 55px;
  border-radius: 30px;
  background-color: rgb(0, 141, 0);
  color: white;
  font-weight: bolder;
  cursor: url('./pages/imgs/손가락.png') 25 25, auto !important;

}

Button.game-btn-2 {
  width: 160px;
  height: 55px;
  border-radius: 30px;
  background-color: rgb(218, 218, 218);
  color: black;
  font-weight: bolder;
  cursor: url('./pages/imgs/손가락.png') 25 25, auto !important;
}

.modal-design {
  margin-top: 13%;
  cursor: url('./pages/imgs/손가락.png') 25 25, auto !important;
}

.modal-cursor {
  cursor: url('./pages/imgs/손가락.png') 25 25, auto !important;
}

.result-modal-design {
  text-align: center;
  margin-top: 13%;
}

.pre-result-modal-design {
  margin-top: 13%;
  text-align: center;
}

.item-page-more {
  display: flex;
  font-weight: 700;
  position: relative;
  left: 13%;
  margin-top: 4%;
  margin-bottom: 2%;
}

.item-page-img-more {
  background-color: rgb(224, 224, 224);
  border-radius: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: -100px;
  row-gap: 50px;
  column-gap: -10px;
}

.item-page-more-container {
  display: grid;
  grid-template-columns: repeat(5, 0fr); /* 네 개의 열을 동일한 너비로 생성 */
  row-gap: 50px;
  column-gap: 50px;
}

.item-page-detail-img {
  margin-left: 100%;
}

.custom-cursor {
  cursor: url('./pages/imgs/손가락.png') 25 25, auto !important;
}

body {
  cursor: url('./pages/imgs/손가락.png') 25 25, auto !important;
}

.AppBG {
  background-image: url('./img/게임전체배경.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.ssuk-with {
  display: block;
  width: 490px; 
  height: 220px; 
  margin-left: 31%; 
  margin-top: -4%;
}

/* 화면 너비가 768px 미만일 경우 */
@media (max-width: 768px) {
  .ssuk-with .bunli-location{
    width: 20%;
    margin-left: 10%; 
  }
}

/* 화면 너비가 1024px 이상일 경우 */
@media (min-width: 1024px) {
  .ssuk-with .bunli-location{
    margin-left: 10%;
  }
}

/* 화면 너비가 480px 미만일 경우 (일반적으로 모바일 환경을 가리킵니다) */
@media (max-width: 480px) {
  .AppBG {
    /* 예: 배경 이미지 위치를 조금 더 상단으로 옮기고 싶을 때 */
    background-position: center center;
  }
}

/* 화면 너비가 481px ~ 768px 사이일 경우 (일반적으로 태블릿 환경을 가리킵니다) */
@media (min-width: 481px) and (max-width: 768px) {
  .AppBG {
    /* 예: 배경 이미지 위치를 가운데로 조정하고 싶을 때 */
    background-position: center center;
  }
}

/* 화면 너비가 769px 이상일 경우 (일반적으로 데스크탑 환경을 가리킵니다) */
@media (min-width: 769px) {
  .AppBG {
    /* 예: 배경 이미지 위치를 조금 더 하단으로 옮기고 싶을 때 */
    /* background-position: top center; */
  }
}

.bunli-location {
  display: block;
  width: 350px; 
  height: 250px; 
  margin-left: 39%;
  margin-top: -7%;
}

.ssuk-location {
  display: block;
  width: 410px; 
  height: 410px;
  margin-left: 6%;
  margin-bottom: 4%;
}

.trashcar-location {
  display: block;
  width: 370px; 
  height: 370px;
  margin-left: 1%;
  margin-top: 1%;
}

.main-character-location {
  display: flex;
  justify-content: center;
}

.game-start-btn {
  display: block;
  width: 150px; 
  height: 150px;
  margin-left: 0%;
  margin-right: 5%;
  border-radius: 50%;
  transition: transform 0.3s;
}

.game-start-btn:hover {
  transform: scale(1.07);  
}

.video-container {
  position: fixed; /* 영상이 화면에 고정되도록 설정 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1; /* 다른 요소들이 영상 위에 오도록 설정 */
}

.background-video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* 비디오 비율 유지하면서 꽉 채우기 */
}


.good-ssuk {
  width: 260px;
  height: 240px;
  display: flex;
  margin: -55px;
}

.modaal-body-style {
  display: flex;
  font-weight: 600;
  justify-content: center;

}

.modal-score-style {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sound-control {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: end;
  float: right;
  margin-top: -10px;
  margin-right: 5px;
}

.good-ssuk-step1 {
  width: 260px;
  height: 240px;
  display: flex;
  margin: -60px;;
}

.modaal-body-style-step1 {
  display: flex;
  font-weight: 600;
  justify-content: center;
  align-items: center;
}
